:root {
    --font: #FF6A3D;
    --accent: #FF6A3D;
    --secondary: #F1F2F5;
    --primary: #0A1F44;

    /* --font: #C3CEDA;
    --accent: #738FA7;
    --secondary: #0C4160;
    --primary: #071330; */
    background-color: var(--primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameInfoPanel {
    height: 25vh;
    color: var(--font);
    font-size: 32px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.block {
    border-radius: 15%;
    height: 60px;
    width: 60px;
    display: flex;
    margin: 3px;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    font-weight: bold;
    font-size: 24px;
    box-shadow: #07133040 0px 13px 16px -12px inset,
        #0713304d 25px -20px 13px -18px inset;
}